.main_content_wrapper {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: 1fr .5fr;
  margin-top: 20px;
  padding: 0 40px;
}

.guess_wrapper {
  width: 100%;
  height: 100%;
}

.display_guess {
  // margin: 0 auto;
  float: right;
  width: 350px;
  height: 200px;
  border: 2px solid pink;
  border-radius: 5px;
  overflow: scroll;
  text-align: center;
}

.hangman {
  height: 530px;
  width: 250px;
  border: 2px solid blue;
  border-radius: 5px;
  grid-row: 1;
  grid-row-end: 3;
}

.word_container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5px;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}

.status_of_game {
  letter-spacing: .3em;
  font-size: 4em;
  margin-top: 35px;
}
