.main_content_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 20px;
  padding: 0 40px;
}

.guess_wrapper {
  width: 100%;
  height: 100%;
  grid-column: 2/3;
}

.display_guess {
  margin: 0 auto;
  position: relative;
  float: right;
  width: 100%;
  height: 130px;
  border-radius: 5px;
  overflow: scroll;
  text-align: center;
  grid-row: 1/4;
  background-color: #141644;
  opacity: .9;
}

.num_of_guesses {
  display: none;
  // opacity: 0;
  position: absolute;
  top: 78px;
  left: 97px;
  width: 200px;
  // height: 200px;
  border: 2px solid #853953;
  text-align: center;
  color: #853953;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 10px;
  // animation-duration: 1s;
  // animation-name: pulsate;
}

.wrong_guesses {
  font-size: 2em;
}

.displayHint {
  display: none;
  color: white;
}

.display_guess h3{
  font-size: 1.5em;
}

// @keyframes pulsate {
//   from {
//     opacity: 0;
//   }
//   50% {
//     opacity: 1;
//   }
//   to{
//     opacity: 0;
//   }
// }

.hangman {
  // height: 530px;
  width: 250px;
  border: 2px solid blue;
  border-radius: 5px;
  grid-row-start: 1;
  grid-row-end: 4;
}

.hint_container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  grid-row: 2/3;
  grid-column: 1/4;
}

.hint_button{
  font-size: 1.5em;
  border-radius: 10px;
  padding: 5px;
  outline: none;
  border: none;
  margin: 0 auto;
  box-shadow: 0 4px 5px black;
  background-color: #EFAA65;
  font-family: 'K2D', sans-serif;
}

.hint_button:hover {
  background-color: #BE5A38;
  transition: .2s;
}

.word_container {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  border-radius: 20px;
  grid-column: 1/4;
  grid-row: 3/5;
  text-align: center;
  background-color: #C79A4B;
  color: #353238;
  opacity: .75;
}

.status_of_game {
  letter-spacing: .3em;
  font-size: 4em;
  margin-top: 35px;
}
