nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 16px;
  border: 2px solid green;
  font-size: 1.5em;
}

.wins, .losses {
  display: inline-block;
}

.wins, .losses, .dividerInChief {
  margin: 0 auto;
}

.dividerInChief {
  display: inline-block;
  height: 28px;
  width: 1px;
  background-color: black;
}

.loseCounter, .winCounter{
  text-align: center;
  display: inline-block;
  min-width: 28px;
  height: 28px;
  border-radius: 5px;
  background-color: gray;
  padding-bottom: 5px;
  margin-bottom: -7px;
}
