.score_keeping {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 16px;
  // border: 2px solid green;
  font-size: 1.2em;
}

.projectname {
  text-align: center;
  font-size: 2em;
  border-bottom: 2px solid gray;
}

.wins, .losses {
  display: inline-block;
}

.wins, .losses, .dividerInChief {
  margin: 0 auto;
}

.dividerInChief {
  display: inline-block;
  height: 28px;
  width: 1px;
  background-color: black;
}

.loseCounter, .winCounter{
  text-align: center;
  display: inline-block;
  min-width: 28px;
  height: 24px;
  border-radius: 5px;
  background-color: gray;
  padding: 0 3px;
  padding-bottom: 5px;
  margin-bottom: -7px;
  color: white;
}
